# Credentials и session
.env
# Данные приложения
app_data/*
!app_data/.gitkeep
!app_data/*.example.*


# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# OS
.DS_Store
Thumbs.db
.venv/

dev_planning
