version: '3.8'

services:
  bot:
    build: .
    container_name: tlg_keywords_follower
    restart: unless-stopped
    volumes:
      - ./app_data:/app/app_data
      - ./.env:/app/.env
    environment:
      - PYTHONUNBUFFERED=1
